streamlit
langchain
langchain_community
langchain_groq
langchain-openai
langchain-text-splitters
langchain-huggingface
langchain_chroma
sentence-transformers
faiss-cpu
chromadb
pypdf
PyPDF2
python-docx
python_docx
pymupdf
beautifulsoup4
arxiv
wikipedia
pandas
lxml
tdqm
python-dotenv
